body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    word-wrap: break-word;
    word-break: break-word;
    user-select: none;
}

html, body, img, iframe {
    border: 0;
    
}

em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

/* 精灵图样式 */
.m-search{
    background: url("@/assets/images/app-bg.png") no-repeat 0 9999px;;
}

.banner-box{
  /* background-image: url(http://p1.music.126.net/qzVEiaMZ5Efj27SOxBRnmA==/109951171009756975.jpg?imageView&blur=40x20); */
  background-size: 6000px;
  background-position: center center;
}

.ant-carousel .slick-prev{
  left: -50px;
  &::after {
    top:25px;
    left:15px;
  }
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next{
  height: 63px;
  width:38px;
  opacity: 1;
  z-index: 2;
  color: white;
  font-size: 20px;
}
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.ant-carousel .slick-next{
  right: -304px;
  &::after {
    top:25px;
    left:10px;
  }
}